<h1>Edit Authentification</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.authentification_path(@conn, :update, @authentification)) %>

<span><%= link "Back", to: Routes.authentification_path(@conn, :index) %></span>
