<h1>New Authentification</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.authentification_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.authentification_path(@conn, :index) %></span>
